<h1>Listing initiaries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @initiaries.each do |initiary| %>
  <tr>
    <td><%= initiary.name %></td>
    <td><%= initiary.description %></td>
    <td><%= link_to 'Show', initiary %></td>
    <td><%= link_to 'Edit', edit_initiary_path(initiary) %></td>
    <td><%= link_to 'Destroy', initiary, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Initiary', new_initiary_path %>
