<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @initiary.name %>
</p>

<p>
  <b>Description:</b>
  <%= @initiary.description %>
</p>

<p>
  <b>Countries included:</b><br />
  <% @initiary.countries.each do |c| %>
    <%= link_to c.name, c %><br />
  <% end %>
</p>

<% if auth? %>
  <%= link_to 'Edit', edit_initiary_path(@initiary) %> |
  <%= link_to 'Back', initiaries_path %>
<% end %>