<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @currency.name %>
</p>

<p>
  <b>Avaliable at:</b><br/>
  <br/>
  <% @currency.countries.each do |c| %>
    <%= link_to c.name, c %>
  <% end %>
</p>

<% unless @visited.empty? %>
  <p>
    <b>Countries, visited for <%= @currency.name %>:</b>
    <% @visited.each do |c| %>
      <%= link_to c.name, c %>
    <% end %>
  </p>
<% end %>