<h1>dataxu test project</h1>
<br />
<% unless flash[:errors].nil? || flash[:errors].blank? %>
  <% flash[:errors].each do |msg| %>
    <%= msg %><br />
  <% end %>
  <br />
<% end %>
  
<%= link_to "Avaliable countries", countries_path %><br />
<%= link_to "Avaliable currencies", currencies_path %><br />
<%= link_to "Avaliable currencies with countries unvisited", :controller => :currencies, :action => :remaining_index %><br />
<%= link_to "Initiaries", initiaries_path %><br />