<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Currencies:</b>
  <% @country.currencies.each do |c| %>
    <%= link_to c.name, currency_path(c) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
